html { /*fundo da página gradiente*/
    background: -webkit-linear-gradient(left, #474746, #fffdfe);
}
body { 
    background-color: #fff0 !important;
    line-height: 0.5 !important;
}

.box { /*posicionamento do conteúdo principal*/
max-width: 1359px;
}
/* register */

.tab-content>.tab-pane { /*posicionamento do bloco arredondadonos lados*/
    display: block;
}

#myTabContent /*posição do conteúdo alinhado com o quadro*/
{
    position: relative;
    width: 100%;
    height: 370px;
    z-index: 5;
    overflow: hidden;
}

#myTabContent .tab-pane /*posição do conteúdo de maneira separada do quadro*/
{
    position: absolute;
    top: 0;
    padding: 55px 157px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.register { /*disposição do conteúdo da esquerda e da direita na página*/
    background-color: #fff0;
    margin-top: 3%;
    padding: 1%;
}

.register-left { /*disposição do conteúdo da esquerda na página*/
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-left input { /*estilo do quadro arredondado*/
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right { 
    background: #f90353;
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
}

.register-left img { /*animação da seta*/
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover { /*configuração do movimento da seta*/
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.register-left h3{ /*cor da letr'abaixo da seta*/
    color: #fff !important;
}


.register .nav-tabs { /*configuração das nav-tabs dentro do quadro*/
    margin-top: 1%;
    border: none;
    background: #555555;
    border-radius: 20px;
    width: 35%;
    float: right;
}
#myTab  .nav-item {  /*configuração das nav-tabs fora do quadro*/
    padding: 5px 3px;       
    text-align: center;
    display: block;
    margin: 0px 6px;
}
.register .nav-tabs .nav-link {  /*segundo botão da nav-tab*/
  padding: 10px 8px;
  height: 25px;
  color: #fff;
  font-size: 13px;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover { /*quando o cursor por cima*/
    border: none;
}

.register .nav-tabs .nav-link.active {  /*comportamento d'aba quando clicado*/
    color:  #f90353;
    border: 1px solid  #f90353;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {  /*estilo do conteúdo no quadro*/
    text-align: center;
    color:  #fffdfe;
    margin-bottom: 30px;
}

#login.active  /*comportamento do conteúdo da direita em relação as nav tabs*/
{
    
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
    transition: all ease-out 0.2s 0.1s;

}

.botao { /*estilo do botão de geração de boleto*/
    margin-left: 175px;
    margin-top: 11px;
    background-color: #474746 !important;
    border-color: #474746 !important;
}

.botao:hover{ /*estilo do botão de geração de boleto quando cursor*/
  
    background-color: #555555 !important;
    border-color: #555555 !important;
}